// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.header-icon {
    width: 200px;
    margin-right: 1em;
    @media only screen and (max-width: 768px) {
        display: none;
    }
    &.mobile {
        width: 40px;
        display: none;
        @media only screen and (max-width: 768px) {
            display: inline-block;
        }
    }
}

.logo_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
}

.site-title {
    font-size: 1.2em;
    color: white;
    &:hover {
        text-decoration: none;
    }
    &:visited {
        color: white;
    }
    @media only screen and (max-width: 768px) {
        font-size: 1em;
    }
}

.site-header {
    background-color: #1B823A;
    .wrapper {
        max-width: calc(800px - (10px * 2));
        padding-right: 10px;
        padding-left: 10px;
    }
}

footer {
    background-color: #E2DCD5;
}

.post-content, .page-content {
    h2 {
        font-size: 1.8em;
        font-weight: bold;
        padding: 0.25em 0.5em;
        border-left: solid 5px #209643;
        @media only screen and (max-width: 768px) {
            font-size: 1.3em;
        }
    }
    h3 {
        font-size: 1.4em;
        font-weight: bold;
        padding-bottom: .4em;
        border-bottom: solid 3px #E2DCD5;
        position: relative;
        &:after {
            position: absolute;
            content: " ";
            display: block;
            border-bottom: solid 3px #209643;
            bottom: -3px;
            width: 30%;
        }
        @media only screen and (max-width: 768px) {
            font-size: 1em;
        }
    }
}

.green-btn {
    display: inline-block;
    font-size: 1.4em;
    margin: .6em 0;
    padding: 0.3em 1.2em;
    color: #FFF;
    background: #1B823A;
    border: solid 1px 097752;
    border-radius: 4px;
    &:visited,
    &:hover {
            text-decoration: none;
        color: #FFF;
        opacity: 0.9;
    }
    @media only screen and (max-width: 768px) {
        width: 90%;
        font-size: 1.2em;
        padding: 0.3em 0.8em;
        text-align: center;
    }
}

.post-title {
    font-weight: bold;
    font-size: 1.8em;
    line-height: 1.5;
    @media only screen and (max-width: 768px) {
        font-size: 1.4em;
        line-height: 1.3;
    }
}

.youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 75%;
    margin-bottom: .5em;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.post-content .icon {
    width: 160px;
    height: auto;
    margin-bottom: 2em;
    @media only screen and (max-width: 768px) {
        width: 120px;
    }
}
